<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POM_LMS_Admin_side_Test Suite">
<test name="Latitude Test">


<classes>

<class name="com.LMS.testcases.AddCoursepageTest"></class>
<class name="com.LMS.testcases.AddInstitutionalrolepageTest"></class>
<class name="com.LMS.testcases.AddSystemrolepageTest"></class>
<class name="com.LMS.testcases.AddUserpageTest"></class>
<class name="com.LMS.testcases.CourseCatalogpageTest"></class>
<class name="com.LMS.testcases.ViewOrgTermDisciplinepageTest"></class>


</classes>
</test>
</suite>

